/* Styles go here */
/****** 
  This is a .css file. CSS stands for Cascading Style Sheets.
  This file has all of the information about the styling of the website.
  You can edit this file to change the apparance of your page.
  
  Play around with:
  * [Colors] This file has a bunch of HEX colors, you can see more colors here: https://www.materialui.co/colors
  * [Size] You can change the width and height of different elements and see what happens.
  * [Font] Try and change the font-family to something different: https://www.w3schools.com/cssref/css_websafe_fonts.asp
******/

/****** <body> ******/
body {
  width: 900px;
  background: #03A9F4;
  margin: 50px  solid to;
  border: 10pxso #000000;
  font-family: Verdana , Geneva, sans-serif;
  color: #000000;
  text-align: center;
}

/****** header ******/
header {
  padding: 10px;
  background: #0D47A1;
  color: #E3F2FD;
}

/****** <main> ******/
main {
  background: #E3F2FD;
}

/****** <footer> ******/
footer {
  padding: 10px;
  background: #0D47A1;
  color: #E3F2FD;
}

/****** <a> ******/
a {
  color: lightblue;
}

/****** class=speech ******/
.speech {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.speech img {
  background: #FFFFFF;
  border-radius: 50%; /* This makes it a circle */
  border: 5px solid #000000;
  height: 300px;
}

/****** class-columns ******/
.columns {
  display: flex;
}

.columns div img {
  background: #FFFFFF;
  border-radius: 40px;
  width: 275px;
  height: 200px;
}

.columns div div {
  margin: 10px;
}

/****** Speech Bubble ******/
.bubble {
  position: relative;
  width: 300px;
  min-height: 100px;
  font-size: 20px;
  
  padding: 10px;
  border-radius: 5px;
  border: solid #3F51B5;
  background: #3F51B5;
  color: #E8EAF6;
}

.bubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  
  border-top: 20px solid Transperent;
  border-right: 30px solid #3F51B5;
  border-bottom: 30px solid transparent;
}

/****** 
  Done already?
  
  Here are some challenges:
  * Change the background of your body to be an image
  * Change some colors when the mouse hovers over something (hint: :hover)
  * Check out some transition animations (you can combine this with hover)
******/
